main {
    text-align: center;
    background-image: linear-gradient(#FFB336, #FF7A36, #FF366E);
}

img {
    /* border: solid 1px;   
    border-radius: 7px;             add border curvature */
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
}

.login {
    display: flex;
    flex-direction: row;
}

.camera {
    background-color: black;
    color: white;
    padding: 13%; 
    margin-left: 0.5%;
    margin-right: 0.5%;
}

.footing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
}