/* Main Div Attributes */
main {
    text-align: center;
    background-image: linear-gradient(#ffbf36, #ff8d36, #ff7f1d, #ff4d00ef);
}

/* Rectangular Images */
#profile, #previous-photo {
    border: solid 1px;   
    border-radius: 11px;    /* adds border curvature       */
    background-color: black;
}

/* Circular Images */
#camera-btn, #upload-img {
    border: solid 1px;   
    border-radius: 100px;    /* adds border curvature       */
    background-color: black;
}

/* Clickable Image Hover Modifyers */
.hover:hover {
    opacity: 0.7;
}

/* Add Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }

/* Heading Class Attributes */
.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%; 
    padding-right: 5%;
}

/* Login Class Attributes */
.login {
    display: flex;
    flex-direction: row;
}

/* Camera Class Attributes */
.camera {
    background-color: black;
    color: white;
    padding: 13%; 
    margin-left: 0.75%;
    margin-right: 0.75%;
}

/* Footing Class Attributes */
.footing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
}